<!--
<div>
    <li class="contactslist">
        <input ng-model="credentials.name" placeholder="Enter your name" />
        <input ng-model="credentials.contactNumber" placeholder="Mobile Number" />
        <button ng-click="register();">Register</button>
    </li>
    <div>
        <input type="color" id="colorPicker" ng-model="credentials.backgroundColor" />
    </div>
</div>-->


<div class="">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-refresh">
                            </span>Refresh</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-ok-sign">
                            </span>Available</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-remove">
                            </span>Busy</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-time"></span>
                                Away</a></li>
                            <li class="divider"></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-off"></span>
                                Sign Out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <form name="userRegisterForm" ng-submit="userRegisterForm.$valid && register()">
                        <div class="input-group" style="margin: auto;">
                            <input id="btn-input" type="text" class="form-control input-sm margin5" ng-model="credentials.name" placeholder="Enter your name here..." required>

                            <input id="btn-input" type="text" class="form-control input-sm margin5" ng-pattern="/^\d{10}$/" ng-model="credentials.contactNumber" placeholder="Enter your mobile number here..." required>
                        </div>
                        <div class="input-group" style="margin: auto;">
                            <button class="btn btn-warning btn-sm margin5" id="btn-chat" type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>